on fs
    setprop ro.product.locale en-GB
    setprop ro.product.device AOP_sprout
    setprop ro.product.name Beholder_00EEA
    setprop ro.product.model.display TA-1087
    setprop ro.com.google.clientidbase android-hmd-rev2
on fs
	setprop ro.build.fingerprint Nokia/Beholder_00EEA/AOP_sprout:9/PPR1.180610.011/00WW_4_27G:user/release-keys
	setprop ro.build.description "Beholder_00EEA-user 9 PPR1.180610.011 00WW_4_27G release-keys"
